<head>
  <link rel="stylesheet" media="all" href="/assets/application.css" data-turbolinks-track="reload">
  <title>WebCampBackendNew</title>
</head>

<body>
  <h1>Editing Book</h1>
  <%= form_with model: @book, url: "/books/#{@book.id}", method: :patch do |f| %>
    <div class="field">
      <label for="book_title">Title</label>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <label for="book_body">Body</label>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit '保存' %>
    </div>
  <%= link_to "Show", "/books/#{@book.id}" %>
  |
  <a class="back" href="/books">Back</a>
  <% end %>
</body>